body {
    background-color: #000000;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
}

.most-played-songs {
    display: flex;
    flex-direction: column;
    padding: 36px 80px;
}

.most-played-song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #262626;
    color: grey;
}

.most-played-song:hover {
    background-color: #262626;
    transition: 0.4s;
    cursor: pointer;
}

.most-played-song .title{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 24px;
    color: white;
}

.most-played-song .title img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px;
}

.most-played-song .artist{
    margin-right: 20%;
}

.most-played-song a{
    margin-left: 16px;
}

.songs {
    /* display: flex; */
    padding: 36px 80px;
}

.songs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.song {
    background-color: #121212;
    border-radius: 8px;
    min-width: 210px;
    margin-right: 16px;
    margin-bottom: 16px;
    color: white;
}

.song:hover {
    cursor: pointer;
    background-color: #262626;
    transition: 0.4s;
}

.song img {
    border-radius: 4px;
    width: -webkit-fill-available;
    max-width: 200px;
    padding: 8px;
}

.song p {
    padding: 0 16px;
    margin: 4px 0;
}

.song p.title {
    font-weight: bold;
}

.song .menu{
    box-sizing: border-box;
    float: right;
    margin: 8px 16px;
}